:root {
--bleu-clair:#DEEBFF;
--bleu-normal:#0065FC;
--gris-clair:#F2F2F2;
--gris-normal:#D9D9D9;
--gris-fonce:#353535;
--max-width:1400px;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Raleway_italic';
	src: url('../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}