/* STYLE GENERAL
================================================== */

/* GENERALITES */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
vertical-align:baseline;
background:transparent;
}
html, body {
width:100%;
height:100%;
font-size:100%;
font-weight:normal;
font-family:'Raleway',Arial, sans-serif;
}
a {
text-decoration:none;
color:inherit;
} 
header a, footer a {
color:var(--gris-fonce);
}
header a:hover, footer a:hover {
color:var(--bleu-normal);
}
header a.link-bold {
color:var(--bleu-normal);
font-weight:bold;
}
h1 {
margin-top:0.4em;
font-size: 1.4em;
font-weight: bold;
}
h2 {
margin-top:0.4em;
font-size: 1.2em;
font-weight: bold;
}
h3 {
margin-top:0.4em;
font-size: 1em;
font-weight: bold;
}
p, a {
margin-top:0.4em;
font-size: 1em;
}
i.blue {
color:var(--bleu-normal);
}
i.grey {
color:var(--gris-clair);
}
.bold {
font-weight:bold;
}

/* NAV */
header {
position:fixed;
height: 100px;
width:100%;
top:0;
left:0;
background-color: white;
z-index:999;
}
nav {
position:relative;
height:100%;
width:100%;
padding:0 1%;
margin: 0 auto;
max-width: var(--max-width);
box-sizing: border-box;
}
#logo {
position:absolute;
width:100px;
height:100px;
top:0;
left:1%;
background-image: url('../images/reservia.svg');
background-position:center left;
background-size: 100px;
background-repeat: no-repeat;	
}
#nav-sub {
display:flex;
justify-content: flex-end;
height:100%;
}
#nav-sub div {
display: flex;
align-items: center;
padding:0 2%;
border-top:2px solid white;
}
#nav-sub div.anchor.active {
border-top:2px solid var(--bleu-normal);
}
#nav-sub div.active a, #nav-sub div:hover a {
color: var(--bleu-normal);
}

/* MAIN */
main {
width:100%;
padding:1%;
margin: 100px auto 2em auto;
max-width: var(--max-width);
box-sizing:border-box;
}
/* search div */
#div-search {
display:flex;
height:50px;
align-items:center;
margin-top:1.5em;
}
#div-search i {
font-size: 1.2em;
}
#div-map {
background-color : var(--gris-clair);
height:100%;
width:50px;
border-radius:15px 0 0 15px;
display: flex;
align-items: center;
justify-content: center;
}
#div-search input {
box-sizing: border-box;
height:50px;
font-family:'Raleway',Arial, sans-serif;
font-size:1em;
font-weight:bold;
} 
#general-search {
min-width:240px;
border-left: none;
border-right:none;
border-top: thin solid var(--gris-clair);
border-bottom: thin solid var(--gris-clair);
padding:0 1%;
}
#general-submit {
min-width:120px;
color:white;
background-color:var(--bleu-normal);
border-radius: 0 15px 15px 0;
border:none;
}
/* Filtres */
#div-filter {
min-height:100px;
display:flex;
align-items: center;
}
#div-filter h3 {
margin:0 20px 0 0;
white-space:nowrap;
}
.filter-sub {
box-sizing:border-box;
position:relative;
height:50px;
line-height:50px;
padding:0 20px 0 60px;
border-radius:25px;
border: 2px solid var(--gris-normal);
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
.filter-sub span {
position:absolute;
top:-2px;
left:-2px;
height:50px;
width:50px;
line-height:55px;
border-radius:50%;
background-color: var(--bleu-clair);
text-align:center;
}
.filter-sub span i {
font-size: 1.2em;
}
.filter-sub:hover {
color:var(--bleu-normal);
background-color:var(--bleu-clair);
border-color:var(--bleu-clair);
}
/* infos */
p.info {
display: flex;
align-items: center;
}
p.info span {
display: flex;
align-items: center;
justify-content: center;
height: 1.6em;
width: 1.6em;
border: 0.5px solid var(--gris-clair);
border-radius: 0.8em;
margin-right:1em;
}
p.info span i {
font-size : 0.8em;
}
/* Hébergements & activités */
main div.main-sub {
margin-top:2em;
padding:0;
display:flex;
}
main div.hebergement-sub {
padding:2%;
background-color:var(--gris-clair);
border-radius:20px;	
}
#hebergement {
flex:5;
}
#hebergement div.flex-container {
display:flex;
flex-wrap:wrap;
justify-content: space-between;
margin-top:2em;
}
#hebergement div.card {
box-sizing:border-box;
width:30%;
margin:0 0 2em 0;
background-color: white;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 10px var(--gris-normal);
border: 5px solid white;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
#hebergement div.card:hover {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}
#hebergement div.card-picture {
height:13vh;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
}
#hebergement div.card-text {
padding:1% 5%;
}
#populaire {
flex:2;
margin-left:2%;
}
#populaire h1 {
position:relative;
}
#populaire h1 span {
position:absolute;
right:0;
}
#populaire div.flex-container {
margin-top:2em;
}
#populaire div.card {
display:flex;
box-sizing:border-box;
width:100%;
height:16vh;
margin:0 0 2em 0;
background-color: white;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 5px var(--gris-normal);
border: 5px solid white;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
#populaire div.card:hover {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}
#populaire div.card-picture {
flex:2;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
}
#populaire div.card-text {
flex:3;
padding:5%;
}

#activite {
width:100%;
}
#activite div.flex-container {
display:flex;
justify-content: space-between;
margin-top:2em;
}
#activite div.column {
display:flex;
flex-direction: column;
min-height:50vh;
width:22%;
}
#activite div.column.one div.card {
flex:1;
}
#activite div.column.two div.card:nth-child(1) {
flex:3;
}
#activite div.column.two div.card:nth-child(2) {
flex:2;
}
#activite div.column.three div.card {
flex:1;
}
#activite div.column.four div.card:nth-child(1) {
flex:2;
}
#activite div.column.four div.card:nth-child(2) {
flex:3;
}
#activite div.card {
position:relative;
box-sizing:border-box;
width:100%;
margin:0 0 2em 0;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 5px var(--gris-normal);
-webkit-transition: all 0.5s;
transition: all 0.5s;
background-color: white;
background-position:center;
background-size:cover;
background-repeat:no-repeat;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
#activite div.card-text {
position:absolute;
bottom:0;
width:90%;
height:40px;
line-height:40px;
padding:0 5%;
background-color:white;
}
#activite div.card-text h3 {
margin:0;
}
#activite div.card:hover {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

/* FOOTER */
footer {
height:200px;
width:100%;
background-color: var(--gris-clair);
}
footer div.row {
display:flex;
align-items:center;
height:100%;
width:100%;
padding:0 1%;
margin: 0 auto;
max-width: var(--max-width);
box-sizing: border-box;
}
footer div.row-sub {
display: flex;
width: 100%;
}
footer div.column {
flex: 1 1 auto;
}
footer ul {
list-style:none;	
}
footer li {
margin-top:0.8em;
}