/* STYLE GENERAL
================================================== */

/* GENERALITES */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
font-weight:normal;
vertical-align:baseline;
background:transparent;
}
html, body {
width:100%;
height:100%;
font-family:'Raleway',Arial, sans-serif;
}
a {
text-decoration:none;
color:var(--gris-fonce);
}
a:hover {
color:var(--bleu-normal);
}
a.link-bold {
color:var(--bleu-normal);
font-weight:bold;
}
h1 {
margin-top:0.4em;
font-size: 1.4em;
font-weight: bold;
}
h2 {
margin-top:0.4em;
font-size: 1.2em;
font-weight: bold;
}
h3 {
margin-top:0.4em;
font-size: 1em;
font-weight: bold;
}
p, a {
margin-top:0.4em;
font-size: 1em;
}
i.blue {
color:var(--bleu-normal);
}

/* NAV */
header {
position:fixed;
height: 100px;
width:100%;
top:0;
left:0;
background-color: white;
}
nav {
position:relative;
height:100%;
width:100%;
padding:0 1%;
margin: 0 auto;
max-width: var(--max-width);
box-sizing: border-box;
}
#logo {
position:absolute;
width:100px;
height:100px;
top:0;
left:1%;
background-image: url('../images/reservia.svg');
background-position:center left;
background-size: 100px;
background-repeat: no-repeat;	
}
#nav-sub {
display:flex;
justify-content: flex-end;
height:100%;
}
#nav-sub div {
display: flex;
align-items: center;
padding:0 2%;
border-top:2px solid white;
}
#nav-sub div.anchor.active {
border-top:2px solid var(--bleu-normal);
}
#nav-sub div.active a, #nav-sub div:hover a {
color: var(--bleu-normal);
}

/* MAIN */
main {
width:100%;
padding:1%;
margin: 100px auto 0 auto;
max-width: var(--max-width);
box-sizing:border-box;
}
/* search div */
#div-search {
display:flex;
height:40px;
align-items:center;
margin-top:1.5em;
}
#div-map {
background-color : var(--gris-clair);
height:100%;
width:40px;
border-radius:10px 0 0 10px;
display: flex;
align-items: center;
justify-content: center;
}
#div-search input {
box-sizing: border-box;
height:40px;
font-family:'Raleway',Arial, sans-serif;
font-size:1em;
font-weight:bold;
} 
#general-search {
min-width:200px;
border-left: none;
border-right:none;
border-top: thin solid var(--gris-clair);
border-bottom: thin solid var(--gris-clair);
padding:0 1%;
}
#general-submit {
min-width:120px;
color:white;
background-color:var(--bleu-normal);
border-radius: 0 10px 10px 0;
border:none;
}
/* Filtres */
#div-filter {
min-height:100px;
display:flex;
align-items: center;
}
#div-filter h3 {
margin:0 20px 0 0;
}
.filter-sub {
box-sizing:border-box;
position:relative;
height:40px;
line-height:40px;
padding:0 20px 0 60px;
border-radius:20px;
border: thin solid var(--gris-clair);
z-index:-1;
}
.filter-sub span {
position:absolute;
top:0;
left:0;
height:40px;
width:40px;
border-radius:50%;
background-color: var(--bleu-clair);
text-align:center;
}

/* infos */
p.info {
display: flex;
align-items: center;
}
p.info span {
display: flex;
align-items: center;
justify-content: center;
height: 1.6em;
width: 1.6em;
border: 0.5px solid var(--gris-clair);
border-radius: 0.8em;
margin-right:1em;
}
p.info span i {
font-size : 0.8em;
}
/* Hébergements & activités */
main div.main-sub {
min-height:100vh;
margin-top:2%;
padding:2%;
border-radius:20px;
background-color:var(--gris-clair);
}

/* FOOTER */
footer {
height:200px;
width:100%;
background-color: var(--gris-clair);
}
footer div.row {
display:flex;
align-items:center;
height:100%;
width:100%;
padding:0 1%;
margin: 0 auto;
max-width: var(--max-width);
box-sizing: border-box;
}
footer div.row-sub {
display: flex;
width: 100%;
}
footer div.column {
flex: 1 1 auto;
}
footer ul {
list-style:none;	
}
footer li {
margin-top:0.8em;
}