/* STYLE GENERAL
================================================== */

/* GENERALITES */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

html, body {
	width:100%;
	height:100%;
	font-size:100%;
	font-weight:normal;
	font-family:'Raleway',Arial, sans-serif;
}

a {
	text-decoration:none;
	color:inherit;
} 

header a, footer a {
	color:var(--gris-fonce);
}

header a:hover, footer a:hover {
	color:var(--bleu-normal);
}

header a.link-bold {
	color:var(--bleu-normal);
	font-weight:bold;
}

h1 {
	margin-top:0.4em;
	font-size: 1.4em;
	font-weight: bold;
}

h2 {
	margin-top:0.4em;
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	margin-top:0.4em;
	font-size: 1em;
	font-weight: bold;
}

p, a {
	margin-top:0.4em;
	font-size: 1em;
}

i.blue {
	color:var(--bleu-normal);
}

i.grey {
	color:var(--gris-normal);
}

.bold {
	font-weight:bold;
}

/* FONTS & COLORS */

:root {
	--bleu-clair:#DEEBFF;
	--bleu-normal:#0065FC;
	--gris-clair:#F2F2F2;
	--gris-normal:#D9D9D9;
	--gris-fonce:#353535;
	--max-width:1400px;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'Raleway_italic';
	src: url('../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}

/* MAIN */

main {
	box-sizing:border-box;
	width:100%;
	padding:1%;
	margin: 100px auto 2em auto;
}

/* search div */

#div-search {
	display:flex;
	height:50px;
	align-items:center;
	margin-top:1.5em;
}

#div-search i {
	font-size: 1.2em;
}

#div-map {
	background-color : var(--gris-clair);
	height:100%;
	width:50px;
	border-radius:15px 0 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#div-search input, #div-search button {
	box-sizing: border-box;
	height:50px;
	font-family:'Raleway',Arial, sans-serif;
	font-size:1em;
	font-weight:bold;
	margin:0;
} 

#general-search {
	min-width:240px;
	border-left: none;
	border-right:none;
	border-top: thin solid var(--gris-clair);
	border-bottom: thin solid var(--gris-clair);
	padding:0 1%;
}

#general-submit {
	min-width:120px;
	color:white;
	background-color:var(--bleu-normal);
	border-radius: 0 15px 15px 0;
	border:none;
	cursor:pointer;
}

/* Filtres */

#div-filter {
	display:flex;
	align-items: center;
	align-content:flex-start;
	flex-wrap:wrap;
	margin-top:1.5em;
}

#div-filter > h2, #div-filter a {
	margin:1% 1% 1% 0;
}

#div-filter a {
	box-sizing:border-box;
	position:relative;
	height:50px;
	line-height:50px;
	padding:0 20px 0 60px;
	border-radius:25px;
	border: 2px solid var(--gris-normal);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	white-space:nowrap;
}

#div-filter a h3 {
	margin:0 ;
}

#div-filter a span {
	position:absolute;
	top:-2px;
	left:-2px;
	height:50px;
	width:50px;
	line-height:55px;
	border-radius:50%;
	background-color: var(--bleu-clair);
	text-align:center;
}

#div-filter a span i {
	font-size: 1.2em;
}

#div-filter a:hover {
	color:var(--bleu-normal);
	background-color:var(--bleu-clair);
	border-color:var(--bleu-clair);
}

/* Info */

p.info {
	display: flex;
	align-items: center;
}

p.info span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.6em;
	width: 1.6em;
	border: 0.5px solid var(--gris-clair);
	border-radius: 50%;
	margin-right:1em;
}

p.info span i {
	font-size : 0.8em;
}

/* Hébergements & activités */

main div.main-container {
	margin-top:2em;
	padding:0;
	display:flex;
}

main div.main-container i {
	font-size: 0.8em;
}

main div.hebergement-sub {
	padding:2%;
	background-color:var(--gris-clair);
	border-radius:20px;	
}

/* Hébergements */

#hebergement div.flex-container {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-top:2em;
}

#hebergement .card {
	box-sizing:border-box;
	width:30%;
	margin:0 0 2em 0;
	background-color: white;
	border-radius:15px;
	overflow:hidden;
	box-shadow:0 0 10px var(--gris-normal);
	border: 5px solid white;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#hebergement .card:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#hebergement .card-picture {
	height:13vh;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#hebergement .card-text {
	padding:1% 5%;
}

/* Populaire */

#populaire {
	margin-left:2%;
}

#populaire h2 {
	position:relative;
}

#populaire h2 span {
	position:absolute;
	right:0;
}

#populaire div.flex-container {
	margin-top:2em;
}

#populaire .card {
	display:flex;
	box-sizing:border-box;
	width:100%;
	margin:0 0 2em 0;
	background-color: white;
	border-radius:15px;
	overflow:hidden;
	box-shadow:0 0 5px var(--gris-normal);
	border: 5px solid white;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#populaire .card:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

#populaire .card-picture {
	flex:2;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

#populaire .card-text {
	flex:3;
	padding:5%;
}

/* FOOTER */

footer {
	height:200px;
	width:100%;
	background-color: var(--gris-clair);
}

footer div.row {
	display:flex;
	align-items:center;
	height:100%;
	width:100%;
	padding:0 1%;
	margin: 0 auto;
	max-width: var(--max-width);
	box-sizing: border-box;
}

footer div.row-sub {
	display: flex;
	width: 100%;
}

footer div.column {
	flex: 1 1 auto;
}

footer ul {
	list-style:none;	
}

footer li {
	margin-top:0.8em;
}